@import 'tailwindcss';
@import './fonts/fonts.css';

/** APP SPACING */
.root-spacing {
  @apply px-4 md:px-16 lg:px-44;
}

/** GLOBAL THEME */
@theme {
  --color-primary: #01313d;
  --color-gray: #cbd5e1;
  --color-cream: #fbf6f1;
  --color-cream-light: #fdf5ed;
  --color-cyan: #95e6e2;
  --bg-cyan: #95e6e2;
  --color-neutral-low: #475569;
  --color-neutral-lower: #f1f5f9;
  --bg-neutral-lower: #f1f5f9;
  --color-neutral-lowest: #f8fafc;
  --bg-neutral-lowest: #f8fafc;
  --font-primary: 'IvyEpic', Arial, sans-serif;
  --font-heading: 'IvyPresto', 'IvyEpic', sans-serif;
}
body {
  font-family: var(--font-primary, 'IvyEpic');
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-semibold;
  }
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

/** TOAST */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@utility animate-fade-in-up {
  animation: fade-in-up 0.3s ease-out forwards;
}
@utility animate-fade-out-down {
  animation: fade-out-down 0.3s ease-in forwards;
}

/** CAROUSEL */
.swiper-slide {
  width: auto !important;
  flex-shrink: 0;
}

.swiper-container {
  padding-bottom: 0;
  padding-right: 1rem;
}
